<div class="modal-background"></div>
<div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">{{ "song.upload.uploadTitle" | trans }}</p>
        <button id="close-upload" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="buttons has-addons" id="upload-choices">
            <button class="button is-info" id="upload-youtube">YouTube</button>
            <button class="button" id="upload-local">Local File</button>
        </div>
        <form id="upload-form">
            <div class="field">
                <label class="label">{{ "song.upload.name" | trans }}</label>
                <div class="control">
                    <input class="input" type="text" name="Name" placeholder="{{ "song.upload.nameDesc" | trans }}"/>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ "song.upload.artistName" | trans }}</label>
                <div class="control">
                    <input class="input" type="text" name="Artist" placeholder="{{ "song.upload.artistNameDesc" | trans }}"/>
                </div>
            </div>

            <!-- YouTube upload -->
            <div class="field" id="upload-field-youtube">
                <label class="label">{{ "song.upload.youtubeUrl" | trans }}</label>
                <div class="control">
                    <input class="input" type="url" name="Youtube" placeholder="{{ "song.upload.youtubeUrlDesc" | trans }}" id="upload-url"/>
                </div>
                <p class="help is-danger is-hidden" id="upload-url-error">{{ "song.upload.invalidYoutubeUrl" | trans }}</p>
            </div>
            <!-- Local file upload -->
            <div class="field is-hidden" id="upload-field-local">
                <label class="label">{{ "song.upload.localFile" | trans }}</label>
                <div class="control">
                    <div class="file has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" accept="audio/*" name="localFile" id="upload-file-button" />
                            <span class="file-cta">
                                <span class="file-label">{{ "song.upload.localFileDesc" | trans }}</span>
                            </span>
                            <span class="file-name" id="upload-file-name"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">{{ "song.upload.albumName" | trans }}</label>
                <div class="control">
                    <input class="input" type="text" name="AlbumName" placeholder="{{ "song.upload.albumNameDesc" | trans }}"/>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ "song.upload.albumUrl" | trans }}</label>
                <div class="control">
                    <input class="input" type="url" name="AlbumUrl" placeholder="{{ "song.upload.albumUrlDesc" | trans }}" id="album-url"/>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ "song.upload.songType" | trans }}</label>
                <div class="control">
                    <input class="input" type="text" name="SongType" placeholder="{{ "song.upload.songTypeDesc" | trans }}"/>
                </div>
            </div>
            <div class="field">
                <label class="label">{{ "song.upload.playlist" | trans }}</label>
                <div class="control select is-multiple">
                    <select id="upload-playlist" name="Playlists" multiple>
                    </select>
                </div>
            </div>
            <div class="field">
                <input class="button is-link" type="submit"/>
            </div>
        </form>

        <div class="fixed-grid has-2-cols">
            <div class="grid">
                <div class="cell"><iframe id="upload-yt-player" src="" frameborder="0" allow="" referrerpolicy="strict-origin-when-cross-origin" ></iframe></div>
                <div class="cell"><img id="upload-album-preview"/></div>
            </div>
        </div>
    </section>
</div>