<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ metadata.name }}</title>
        <meta property="og:title" content="{{ og.name }}"/>
        <meta property="og:description" content="{{ og.description }}"/>
        {% if og.image is not null %}
        <meta property="og:image" content="{{ og.image }}"/>
        {% endif %}
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script id="data" type="application/json">
            {{ json | replace({'<': '&lt;' }) | raw }}
        </script>
        <script id="metadata" type="application/json">
            {{ rawMetadata | replace({'<': '&lt;' }) | raw }}
        </script>
        <script>
            var isReduced = {% if isReduced %}true{% else %}false{% endif %};
        </script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/dist/css/bulma-switch.min.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/customize.css"/>
    </head>
    <body>
        <nav class="navbar">
            {% include 'navbar.html.twig' %}
        </nav>

        {% if not isReduced %}
        <div id="notification" class="container notification is-hidden"></div>
        
        <div id="upload-window" class="modal">
            {% include 'upload.html.twig' %}
        </div>

        <div id="password-modal" class="modal">
            {% include 'password.html.twig' %}
        </div>

        <div id="playlist" class="is-hidden box">
            <p id="playlist-title" class="has-text-centered"></p>
            <div>
                <div class="next-song"></div>
                <div class="next-song"></div>
                <div class="next-song"></div>
            </div>
        </div>
        {% endif %}
        <div class="is-flex">
            <div id="settings-dropdown" class="is-hidden"> <!-- General settings -->
                <fieldset class="box">
                    <legend class="label has-text-centered">{{ "navbar.general.settings" | trans }}</legend>
                    <button class="button" id="toggleAdmin" disabled>{{ "navbar.general.toggleAdmin" | trans }}</button><br>
                    <div class="field">
                        <input id="use-minimalist" type="checkbox" class="switch is-rounded"/>
                        <label for="use-minimalist">{{ "navbar.general.minimalistMode" | trans }}</label>
                    </div>
                    <div class="field">
                        <input id="use-raw" type="checkbox" class="switch is-rounded"/>
                        <label for="use-raw">{{ "navbar.general.useRaw" | trans }}</label>
                    </div>
                </fieldset>
                {% if metadata.readme is not empty %}
                <fieldset class="box">
                    <legend class="label has-text-centered">{{ "navbar.readme.title" | trans }}</legend>
                    <div id="readme">
                        {{ metadata.readme | map(x => x | replace({'<': '&lt;' })) | join('<br>') | raw }}
                    </div>
                </fieldset>
                {% endif %}
                <fieldset class="box">
                    <legend class="label has-text-centered">{{ "navbar.download.title" | trans }}</legend>
                    <div id="download-progress" class="requires-admin">
                    </div>
                </fieldset>
                <fieldset class="box">
                    <legend class="label has-text-centered">{{ "navbar.export.title" | trans }}</legend>
                    <div id="export-progress" class="requires-admin">
                        <button id="export-progress-btn" class="button">{{ "navbar.export.button" | trans }}</button>
                        <div id="export-progress-comment"></div>
                    </div>
                </fieldset>
                <fieldset class="box">
                    <legend class="label has-text-centered">{{ "navbar.logs.title" | trans }}</legend>
                    <p id="error-log"></p>
                </fieldset>
                {% if metadata.showGitHub %}
                <fieldset class="box">
                    <legend class="label has-text-centered">{{ "navbar.sourceCode.title" | trans }}</legend>
                    <a class="button" target="_blank" href="https://github.com/Xwilarg/Euphonia">GitHub</a>
                </fieldset>
                {% endif %}
                {% if metadata.showDebug %}
                <fieldset class="box">
                    <span>{{ "navbar.advanced.local" | trans }}: {{ local }}</span><br>
                    <legend class="label has-text-centered">{{ "navbar.advanced.title" | trans }}</legend>
                    {{ "navbar.advanced.apiLocation" | trans }}: <span id="apiTarget"></span><br>
                    <button class="button requires-admin" id="check-integrity">{{ "navbar.advanced.integrity" | trans }}</button>
                </fieldset>
                {% endif %}
            </div>
            <div class="container"> <!-- Main content -->
                <div class="has-text-centered is-flex is-justify-content-center">
                    <div id="full-player" class="is-hidden">
                        {% include 'player.html.twig' %}
                    </div>
                </div>
                {% if not isReduced %}
                <template id="template-song">
                    {% include 'song.html.twig' %}
                </template>
                <template id="template-playlist">
                    {% include 'playlist.html.twig' %}
                </template>
                <div id="playlists">
                    <hr/>
                    <div id="actions">
                        <button class="button" id="random-btn">{{ "main.random" | trans }}</button>
                        <button class="button" id="refresh-btn">{{ "main.refresh" | trans }}</button>
                        <input class="input" type="text" id="filter" placeholder="Filter"/>
                    </div>
                    <div id="pageStatePlaylist">
                        <div id="playlistlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                        </div>
                    </div>
                    <div id="pageStateReady" hidden>
                        <div id="random">
                            <h2 id="random-title" class="subtitle">{{ "main.random" | trans }}</h2>
                            <div id="songlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                            </div>
                        </div>
                        <div id="highlight">
                            <h2 id="highlight-title" class="subtitle">{{ "main.favorites" | trans }}</h2>
                            <div id="highlightlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                            </div>
                        </div>
                        <div id="latest">
                            <h2 id="latest-title" class="subtitle">{{ "main.latest" | trans }} {{ site.language }}</h2>
                            <div id="latestlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div id="edit-content" class="is-hidden"> <!-- Edit a song data -->
                <form id="song-edit-form">
                    <div class="field">
                        <label class="label">{{ "song.upload.tags" | trans }}</label>
                        <div class="control select is-multiple">
                            <select name="Tags" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ "song.upload.playlist" | trans }}</label>
                        <div class="control select is-multiple">
                            <select id="edit-playlist" name="Playlists" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <button class="button" id="song-playlist-reset">{{ "song.settings.reset" | trans }}</button>
                    </div>
                    <div class="field">
                        <label class="label">{{ "song.upload.name" | trans }}</label>
                        <div class="control">
                            <input class="input" id="edit-name" type="text" name="Name" placeholder="Name of the song"/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ "song.upload.artistName" | trans }}</label>
                        <div class="control">
                            <input class="input" id="edit-artist" type="text" name="Artist" placeholder="Name of the artist"/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ "song.upload.youtubeUrl" | trans }}</label>
                        <div class="control">
                            <input class="input" id="edit-source" type="text" name="Source" placeholder="Source"/>
                        </div>
                        <p class="help">If you edit this you'll still need<br>to trigger a manual redownload</p>
                    </div>
                    <div class="field">
                        <label class="label">{{ "song.upload.albumName" | trans }}</label>
                        <div class="control">
                            <input class="input" id="edit-album-name" type="text" name="AlbumName" placeholder="Name of the album"/>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">{{ "song.upload.musicUrl" | trans }}</label>
                        <div class="control">
                            <input class="input" id="edit-album-url" type="text" name="CoverUrl" placeholder="URL to an image of the album"/>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="button is-link" type="submit"/>
                        </div>
                        <div>
                            <button class="button is-danger" id="edit-cancel">{{ "song.settings.cancel" | trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>