<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ metadata.name }}</title>
        <meta property="og:title" content="{{ og.name }}"/>
        <meta property="og:description" content="{{ og.description }}"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script id="data" type="application/json">
            {{ json | replace({'<': '&lt;' }) | raw }}
        </script>
        <script id="metadata" type="application/json">
            {{ rawMetadata | replace({'<': '&lt;' }) | raw }}
        </script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/customize.css"/>
    </head>
    <body>
        <nav class="navbar">
            {% include 'navbar.html.twig' %}
        </nav>
        
        <div id="upload-window" class="modal">
            {% include 'upload.html.twig' %}
        </div>

        <div id="playlist" class="is-hidden box">
            <p id="playlist-title" class="has-text-centered"></p>
            <div>
                <div class="next-song"></div>
                <div class="next-song"></div>
                <div class="next-song"></div>
            </div>
        </div>
        <div class="container">
            <div class="has-text-centered is-flex is-justify-content-center">
                <div id="full-player" class="is-hidden">
                    {% include 'player.html.twig' %}
                </div>
            </div>
            <template id="template-song">
                <div class="song card">
                    <div class="song-img card-image">
                        <figure class="image is-1by1">
                            <img/>
                        </figure>
                    </div>
                    <div class="card-content">
                        <p></p>
                        <div class="tags-container">
                        </div>
                        <div class="dropdown is-hoverable requires-admin">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                    <span class="material-symbols-outlined">settings</span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <button class="button is-fullwidth song-edit">Edit</button>
                                    </div>
                                    <div class="dropdown-item">
                                        <button class="button is-fullwidth song-repair">Redownload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-content" hidden>
                            <form class="song-edit-form">
                                <div class="field">
                                    <label class="label">Tags</label>
                                    <div class="control">
                                        <select name="Tags" multiple>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Name</label>
                                    <div class="control">
                                        <input class="input edit-name" type="text" name="Name" placeholder="Name of the song"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Artist name</label>
                                    <div class="control">
                                        <input class="input edit-artist" type="text" name="Artist" placeholder="Name of the artist"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">YouTube URL</label>
                                    <div class="control">
                                        <input class="input edit-source" type="text" name="Source" placeholder="Source"/>
                                    </div>
                                </div>
                                <div class="field">
                                    <input class="button is-link" type="submit"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </template>
            <div id="playlists">
                <hr/>
                <div id="actions">
                    <button class="button" id="random-btn">Random</button>
                    <button class="button" id="refresh-btn">Refresh</button>
                    <input class="input" type="text" id="filter" placeholder="Filter"/>
                </div>
                <div id="pageStatePlaylist">
                    <div id="playlistlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                    </div>
                </div>
                <div id="pageStateReady" hidden>
                    <div id="random">
                        <h2 id="random-title" class="subtitle">Random</h2>
                        <div id="songlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                        </div>
                    </div>
                    <div id="highlight">
                        <h2 id="highlight-title" class="subtitle">Favorites</h2>
                        <div id="highlightlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                        </div>
                    </div>
                    <div id="latest">
                        <h2 id="latest-title" class="subtitle">Latest</h2>
                        <div id="latestlist" class="is-flex is-flex-wrap-wrap is-gap-2 is-justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>