<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ metadata.name }}</title>
        <meta property="og:title" content="{{ og.name }}"/>
        <meta property="og:description" content="{{ og.description }}"/>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script id="data" type="application/json">
            {{ json | replace({'<': '\\<' }) | raw }}
        </script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
        <link rel="stylesheet" href="/css/customize.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/player.css"/>
    </head>
    <body>
        <div id="banner">
            <h1>{{ metadata.name }}</h1>
        </div>
        <div id="banner-buttons">
            <button id="toggle-settings"><span class="material-symbols-outlined">menu</span></button>
            <button id="toggle-volume"><span class="material-symbols-outlined">volume_up</span></button>
            <button id="back"><span class="material-symbols-outlined">arrow_back</span></button>
        </div>
        <div id="settings" hidden>
            {% if metadata.readme is not empty %}
            <fieldset>
                <legend>Readme</legend>
                <div id="readme">
                    {{ metadata.readme | join('<br>') | replace({'<': '\\<' }) | raw }}
                </div>
            </fieldset>
            {% endif %}
            {% if metadata.showLastfm %}
            <fieldset>
                <legend>last.fm</legend>
                <div>
                    <button id="minimalistMode">Toggle minimalist mode</button><br/>
                    <button id="lastfmLogin">Login with last.fm</button><br/>
                    <small>This will use cookies to store your token</small><br/>
                    last.fm status: <span id="lastfmStatus"></span><br/>
                </div>
            </fieldset>
            {% endif %}
            <fieldset>
                <legend>Error Logs</legend>
                <p id="error-log"></p>
            </fieldset>
            {% if metadata.showGitHub %}
            <fieldset>
                <legend>Source Code</legend>
                <a class="button" target="_blank" href="https://github.com/Xwilarg/Euphonia">GitHub</a>
            </fieldset>
            {% endif %}
        </div>
        <div id="volume-container" hidden>
            <input type="range" max="100" id="volume"/>
        </div>
        <div id="playlist" class="hidden">
            <p id="playlist-title"></p>
            <div>
                <div class="next-song"></div>
                <div class="next-song"></div>
                <div class="next-song"></div>
            </div>
        </div>
        <div id="canvas">
            <div id="fullPlayer" hidden>
                <audio id="player"></audio>
                <img id="currentImage" src=""/>
                <div>
                    <div id="controls">
                        <button id="togglePlay"><span class="material-symbols-outlined">play_arrow</span></button>
                        <button id="previous"><span class="material-symbols-outlined">skip_previous</span></button>
                        <button id="skip"><span class="material-symbols-outlined">skip_next</span></button>
                        <button id="share"><span class="material-symbols-outlined">share</span></button>
                        <button id="download"><span class="material-symbols-outlined">download</span></button>
                    </div>
                    <br/>
                    <span id="currDuration"></span> / <span id="maxDuration"></span>
                    <div id="progresses">
                        <div id="durationSliderBackground"></div>
                        <input type="range" id="durationSlider">
                        <div id="progressRanges"></div>
                    </div>
                </div>
                <h3 id="currentSong"></h3>
            </div>
            <div id="playlists">
                <hr/>
                <div id="actions">
                    <button id="random-btn">Random</button>
                    <button id="refresh-btn">Refresh</button>
                    <input type="text" id="filter" placeholder="Filter"/>
                </div>
                <div id="pageStatePlaylist">
                    <div class="list-wrapper">
                        <div id="playlistlist" class="list">
                        </div>
                    </div>
                </div>
                <div id="pageStateReady" hidden>
                    <div id="random">
                        <h2 class="button" id="random-title">Random</h2>
                        <div class="list-wrapper">
                            <div id="songlist" class="list">
                            </div>
                        </div>
                    </div>
                    <div id="highlight" hidden>
                        <h2 class="button" id="highlight-title">Highlight</h2>
                        <div class="list-wrapper">
                            <div id="highlightlist" class="list">
                            </div>
                        </div>
                    </div>
                    <h2 class="button" id="latest-title">Latest</h2>
                    <div class="list-wrapper">
                        <div id="latestlist" class="list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>