<div class="song card">
    <div class="song-img card-image">
        <figure class="image">
            <img/>
        </figure>
    </div>
    <div class="card-content">
        <p></p>
        <div class="tags-container">
        </div>
        <div class="dropdown is-hoverable requires-admin">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <button class="button is-fullwidth song-edit">{{ "song.settings.edit" | trans }}</button>
                    </div>
                    <div class="dropdown-item">
                        <button class="button is-fullwidth song-repair">{{ "song.settings.redownload" | trans }}</button>
                    </div>
                    <div class="dropdown-item">
                        <button class="button is-fullwidth song-archive">{{ "song.settings.archive" | trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-content" hidden>
            <form class="song-edit-form">
                <div class="field">
                    <label class="label">{{ "song.upload.tags" | trans }}</label>
                    <div class="control select is-multiple">
                        <select name="Tags" multiple>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ "song.upload.playlist" | trans }}</label>
                    <div class="control select is-multiple">
                        <select class="edit-playlist" name="Playlists" multiple>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <button class="button song-playlist-reset">{{ "song.settings.reset" | trans }}</button>
                </div>
                <div class="field">
                    <label class="label">{{ "song.upload.name" | trans }}</label>
                    <div class="control">
                        <input class="input edit-name" type="text" name="Name" placeholder="Name of the song"/>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ "song.upload.artistName" | trans }}</label>
                    <div class="control">
                        <input class="input edit-artist" type="text" name="Artist" placeholder="Name of the artist"/>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ "song.upload.youtubeUrl" | trans }}</label>
                    <div class="control">
                        <input class="input edit-source" type="text" name="Source" placeholder="Source"/>
                    </div>
                    <p class="help">If you edit this you'll still need<br>to trigger a manual redownload</p>
                </div>
                <div class="field">
                    <label class="label">{{ "song.upload.albumName" | trans }}</label>
                    <div class="control">
                        <input class="input edit-album-name" type="text" name="AlbumName" placeholder="Name of the album"/>
                    </div>
                </div>
                <div class="field">
                    <label class="label">{{ "song.upload.musicUrl" | trans }}</label>
                    <div class="control">
                        <input class="input edit-album-url" type="text" name="CoverUrl" placeholder="URL to an image of the album"/>
                    </div>
                </div>
                <div class="field">
                    <input class="button is-link" type="submit"/>
                </div>
            </form>
        </div>
    </div>
</div>